body {
  font-family: "Oswald", sans-serif;
  background-color: white;
  margin: 10px;
}
h4 {
  font-size: 30px;
}
footer {
  text-align: center;
}
nav li {
  display: inline;
  list-style: none;
  padding: 10px;
  margin: 10px;
  font-size: larger;
}
nav ul {
  margin: 50px;
}
nav a {
  margin-left: 10px;
  text-decoration: none;
  color: black;
}
nav a:hover {
  color: white;
}

.btn {
  background-color: #1a2639;
  border: none;
}
.hero {
  background: #1a2639;
  color: #d9dad7;
  padding: 30px;
}
.logo {
  max-width: 150px;
  max-height: 150;
}

.homepage {
  max-width: 100%;
  max-height: 100%;
}
.work-projects {
  text-align: center;
}

.shecodes {
  text-align: center;
}

.work-inquiry {
  margin: 60px;
  text-align: center;

  color: aliceblue;
}

.work-inquiry a {
  background-color: antiquewhite;
  color: #1a2639;
  margin-bottom: 10px;
}

footer {
  margin: 40px 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-align: center;
}

footer .email-link:hover {
  color: purple;
}

footer .social-links a {
  margin: 15px 20px;
  color: white;
  background-color: #1a2639;
  padding: 5px;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: aqua;
}

footer .contact-box {
  background-color: #f9f7fe;
  padding: 30px;
  margin-bottom: 70px;
  border-radius: 10px;
}
